@font-face {
    font-family: "Murecho Light";
    src: url('./fonts/Murecho-Light.ttf');
}

@font-face {
    font-family: "Days Sans";
    src: url('./fonts/DaysSansBlack.otf');
}

:root {
    --accent-font-family: "Days Sans";
    --basic-font-family: "Murecho Light";
    --header-height-normal: clamp(50px, 8vw, 80px);
    --sidebar-width: clamp(100px, 20vw,200px);
}