.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: clamp(10px, 2vw, 20px);
    width: fit-content;
    max-width: 680px;
    color: var(--main-txt);
}