.form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: clamp(15px, 2vw, 20px);
    width: 100%;
    color: var(--main-txt);

    > * {
        flex-grow: 1;
    }

    > button {
        width: 100%;
    }
}

.bounded {
    max-width: 680px;
}