.button {
    width: clamp(90px,18vw,180px);
    height: clamp(30px,5vw,50px);
    border-radius: clamp(10px,2vw,20px);
    cursor: pointer;
    color: var(--accent-txt);
    transition: filter 0.15s ease-in-out;

    &:hover {
        filter: brightness(0.8);
    }
}

.basic {
    background-color: var(--subaccent-el);
}

.clear {
    background: none;
    width: fit-content;
    height: fit-content;
}

.alfa {
    background: none;
}

.round {
    width: clamp(35px, 5vw, 50px);
    height: clamp(35px, 5vw, 50px);
    background-color: var(--subaccent-el);
    border-radius: 100%;
}

.agreement {
    background-color: green;
}

.warning {
    background-color: red;
}

.withicon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--subaccent-el);

    svg {
        flex-grow: 1;
    }

    span {
        flex-grow: 1;
        text-align: left;
    }
}

