.button {
    width: 180px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    color: var(--accent-txt);
}

.basic {
    background-color: var(--subaccent-el);
}

.clear {
    background: none;
    width: fit-content;
}

.alfa {
    background: none;
}

.round {
    width: 50px;
    background-color: var(--subaccent-el);
    border-radius: 100%;
}

.agreement {
    background-color: green;
}

.warning {
    background-color: red;
}

