.dialogwindow {
    position: absolute;
    top: calc(100% + clamp(10px, 1vw, 20px));
    width: 100%;
    padding: 40px clamp(10px, 2vw, 20px) clamp(10px, 2vw, 20px) clamp(10px, 2vw, 20px);
    background-color: var(--sec-bg);
    display: flex;
    border-radius: clamp(7px, 1vw, 15px);
    transition: all 0.25s ease-in-out;
    animation: appear 0.15s ease-in-out;
    box-shadow: 0 0 5px 1px var(--shadow);
}

@keyframes appear {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}