.reviewbox {
    display: inline;
    overflow: hidden;
    width: 100%;
    background-color: var(--sec-bg);
    border-radius: clamp(10px, 1vw, 20px);
    padding: clamp(5px, 1vw, 10px);
    position: relative;
    border: 1px solid var(--pale-txt);

    img {
        margin: clamp(10px, 2vw, 20px);
        border-radius: clamp(10px, 1vw, 20px);
        width:calc((100% - clamp(0px, 10vw, 100px))/2);
        height: auto;
        float: right;
    }

    .data {
        padding: clamp(10px, 2vw, 20px);

        .title {
            hyphens: auto;
            width: fit-content;
            word-break: break-all;
            margin-right: clamp(10px, 2vw, 20px);
            display: inline;
        }

        .info {
            margin: clamp(10px, 2vw, 20px) 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: clamp(10px, 2vw, 20px);

            .rate {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: clamp(10px, 2vw, 20px);

                .ratetitle {
                    display: flex;
                    align-items: center;
                    svg {
                        margin: 0 10px 0 5px;
                        color: red;
                        align-self: center;
                    }
                }
            }
        }

        hr {
            margin: clamp(10px, 2vw, 20px) 0;
            width: auto;
            border: 1px solid var(--pale-txt);
        }

        p {
            text-align: justify;
        }
    }


    
}