.reviewbox {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    background-color: var(--sec-bg);
    border-radius: clamp(10px, 1vw, 20px);
    padding: clamp(10px, 3vw, 30px);
    gap: clamp(10px, 2vw, 20px);

    .imagewrapper {
        border-radius: clamp(10px, 1vw, 20px);
        max-width: calc((100% - clamp(10px, 2vw, 20px))/3);
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    
    .data {
        max-width: calc((100% - clamp(10px, 2vw, 20px))/2);
        flex-grow: 1;
    }

    .info {
        flex-grow: 1;
    }

    hr {
        width: 100%;
        border: 1px solid var(--pale-txt);
    }

    .content {
        flex-grow: 1;
    }
}