.commentsbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
    background-color: var(--sec-bg);
    border-radius: clamp(10px, 1vw, 20px);
    padding: clamp(15px, 3vw, 30px);
    border: 1px solid var(--pale-txt);

    > h2 {
        margin-bottom: 30px;
    }

    > hr {
        width: 100%;
        margin: clamp(10px, 2vw, 20px) 0;
    }

    .comment {
        position: relative;
        border-radius: clamp(10px, 2vw, 20px);
        border: 1px solid var(--pale-txt);
        width: 100%;
        padding: clamp(10px, 2vw, 20px) clamp(5px, 1vw, 10px) clamp(20px, 4vw, 40px) clamp(5px, 1vw, 10px);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: clamp(5px, 1vw, 10px);
        line-break: anywhere;
        
        .commentbuttons {
            position: absolute;
            right: clamp(10px, 2vw, 20px);
            top: clamp(5px, 1vw, 10px);
        }

        .date {
            position: absolute;
            right: clamp(10px, 2vw, 20px);
            bottom: clamp(5px, 1vw, 10px);
        }
    }
}