.datacontainer {
    background-color: var(--sec-bg);
    border-radius: clamp(10px, 1vw, 20px);
    padding: clamp(5px, 1vw, 10px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    > h2 {
        margin: 10px 0 20px 0 ;
    }
}