.datacontainer {
    position: relative;
    background-color: var(--sec-bg);
    border-radius: clamp(10px, 1vw, 20px);
    padding: clamp(45px, 6vw, 60px) clamp(5px, 1vw, 10px) clamp(5px, 1vw, 10px) clamp(5px, 1vw, 10px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    width: 100%;
    border: 1px solid var(--pale-txt);

    > .cap {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: clamp(35px, 5vw, 50px);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: clamp(10px, 2vw, 20px);
        color: var(--main-txt);
        line-height: 0;
        background-color: var(--main-bg);
        border-bottom: 1px solid var(--pale-txt);
    }
}

.collapsable {
    min-height: clamp(35px, 5vw, 50px);
    transition: max-height 0.5s ease-in-out;

    > .cap {
        cursor: pointer;
        transition: all 0.15s ease-in-out;

        svg {
            color: var(--main-txt);
            position: absolute;
            right: calc((80px - clamp(15px, 3vw,30px)) / 2);
            transition: rotate 0.15s ease-in-out;
            rotate: 45deg;
        }
    }

    > .cap::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: unset;
        transition: background-color 0.15s ease-in-out;
        z-index: 0;
    }

    > .cap > * {
        z-index: 1;
    }

    > .cap:hover::before {
        background-color: var(--transparent-bg);
    }

    > .cap + * {
        margin-top: 0px;
        transition: margin-top 0.25s ease-in-out;
    }
}

.collapsed {
    > .cap {
        background-color: var(--sec-bg);
        svg {
            rotate: 0deg;
        }
    }
    
}
