.listitem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    min-width: fit-content;
    padding: 10px;
    backdrop-filter: brightness(0.9);
    border-radius: 20px;

    .fields {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        img {
            width: 150px;
            height: 150px;
            border-radius: 20px;
        }

        > div {
            max-width: 300px;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}