.listitem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 0;
    border-bottom: 2px solid var(--pale-txt);

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}