.authbuttons {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: clamp(10px, 2vw, 20px);
    font-size: 5px;
}

@media (max-width: 1240px) {
    .authbuttons {
        grid-area: 1 / 2 / 2 / 3;
    }
}