.app.dark {
    --accent-el: #232526;
    --subaccent-el: #BC293A;
    --standart-el: #606162;
    --main-bg: #232526;
    --sec-bg: #1F2021;
    --accent-txt: #fff;
    --main-txt: #fff;
    --pale-txt: #B4B1BC;
    --transparent-bg: #ffffff05;
    --shadow: #232526;
    --input-bg: #2c2c2c;
    --input-txt: #fff;
}

// .app.dark {
//     --accent-el: #232526;
//     --subaccent-el: #BC293A;
//     --standart-el: #606162;
//     --main-bg: #232526;
//     --sec-bg: #1F2021;
//     --accent-txt: #fff;
//     --main-txt: #fff;
//     --pale-txt: #B4B1BC;
//     --transparent-bg: #00000020;
//     --shadow: #232526;
//     --input-bg: #363636;
//     --input-txt: #fff;
// }