.app.dark {
    --accent-el: #232526;
    --subaccent-el: #BC293A;
    --standart-el: #606162;
    --main-bg: #232526;
    --sec-bg: #444546;
    --accent-txt: #fff;
    --main-txt: #fff;
    --pale-txt: #B4B1BC;
    --transparent-bg: #00000020
}