.app.light {
    --accent-el: #EB3349;
    --subaccent-el: #BC293A;
    --standart-el: #CCCCCC;
    --main-bg: #FFFFFF;
    --sec-bg: #E9E4F0;
    --accent-txt: #fff;
    --main-txt: #232526;
    --pale-txt: #B4B1BC;
    --transparent-bg: #00000020;
    --shadow: #949494;
    --input-bg: #FFFFFF;
    --input-txt: #232526;
}