.app.light {
    --accent-el: #EB3349;
    --subaccent-el: #BC293A;
    --standart-el: #CCCCCC;
    --main-bg: #F5F3FF;
    --sec-bg: #FFFFFF;
    --accent-txt: #fff;
    --main-txt: #232526;
    --pale-txt: #B4B1BC;
    --transparent-bg: #00007020;
    --shadow: #949494;
    --input-bg: #FFFFFF;
    --input-txt: #232526;
}

// .app.light {
//     --accent-el: #EB3349;
//     --subaccent-el: #BC293A;
//     --standart-el: #CCCCCC;
//     --main-bg: #FFFFFF;
//     --sec-bg: #F5F3FF;
//     --accent-txt: #fff;
//     --main-txt: #232526;
//     --pale-txt: #B4B1BC;
//     --transparent-bg: #ffffff20;
//     --shadow: #949494;
//     --input-bg: #FFFFFF;
//     --input-txt: #232526;
// }