.searchbox {
    position: relative;
    width: clamp(200px, 100%, 900px);
    background-color: var(--subaccent-el);
    border-radius: clamp(10px, 2vw, 20px);
    display: flex;
    align-items: center;
    height: fit-content;
    justify-self: center;

    > input {
        height: clamp(30px,5vw,50px);
        border-radius: clamp(10px, 2vw, 20px);
        padding: 0 clamp(5px, 1vw, 10px);
        transition: all 0.25s ease-in-out;
        flex-grow: 1;
        border: clamp(2px, 1vw, 5px) solid var(--subaccent-el);
        background-color: #fff;
        color: #232526;
    }
}

@media (max-width: 1240px) {
    .searchbox {
        grid-area: 2 / 1 / 3 / 3;
        max-width:calc(1240px - 2 * clamp(10px, 1vw, 20px));
    }
}