.entitycreator {
    background-color: var(--sec-bg);
    width: fit-content;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    color: var(--main-txt);

    h3 {
        word-wrap: break-word;
        text-align: center;
    }
}