.options {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 4;
    border-radius: 50px;
    transition: all .25s ease-in-out;

    .optionswrapper {
        display: flex;
        flex-direction: column-reverse;
        gap: 5px;
        position: absolute;
        bottom: calc(100% + 5px);
        visibility: visible;
        opacity: 1;
        transition: all .25s ease-in-out;
        z-index: -1;
    
        > * {
            position: relative;
            box-shadow: 0 0 5px 1px var(--transparent-bg);
        }
    }

    .arrowdownicon {
        transition: rotate .25s ease-in-out;
    }
}

.collapsed {
    height: clamp(35px, 5vw, 50px);

    .optionswrapper {
        visibility: hidden;
        bottom: 0;
        opacity: 0;
    }
    
    .arrowdownicon {
        rotate: 180deg;
    }
}