.closer {
    justify-self: flex-end;
    color: var(--main-txt);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
    transition: background 0.15s ease-in-out, color 0.15s ease-in-out;

    .closericon {        
        width: 30px;
        height: 30px;
        rotate: 45deg;
    }
}

.closer:hover {
    background-color: red;
    color: var(--accent-txt);
}